<!DOCTYPE html>
<html>
<head>
	<title>The Chat Room | <%= username %></title>
	<meta charset='UTF-8'/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://bootstrap-tagsinput.github.io/bootstrap-tagsinput/dist/bootstrap-tagsinput.css">
	<script src="http://bootstrap-tagsinput.github.io/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
	<link rel='stylesheet' href='/css/main.css'/>
	<script>
		$(document).ready(function () {
			$('#roompass').hide()
			$('.tag_holder').tagsinput({
				tagClass: 'tag'
			});

			$('#type').change(function () {
				if ($('#type option:selected').text() == 'Private') {
					$('#roompass').slideDown();
				} else {
					$('#roompass').slideUp();
				}
			});
		});
	</script>
</head>
<body>

	<nav class='navbar navbar-inverse'>
		<div class='container-fluid'>

			<div class='navbar-header'>
				<button type='button' class='navbar-toggle' data-toggle='collapse' data-target='#navigation'>
					<span class='icon-bar'></span>
					<span class='icon-bar'></span>
					<span class='icon-bar'></span>
				</button>
				<a class='navbar-brand'>The Chat Room</a>
			</div>

			<div class='collapse navbar-collapse' id='navigation'>
				<ul class='nav navbar-nav'>
					<li><a href='/random'>Random</a></li>
					<li><a href='/create'>Create</a></li>
					<li><a>Find</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<% if (!loggedin) { %>
					    <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
					    <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
					<% } else { %>
					    <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
					<% } %>
				</ul>
			</div>

		</div>
	</nav>
	
	<div id='navbar_fix'></div>

	<h1>Create a chatroom</h1>

	<div class='container' align='center'>
		<form method='post' action='' id='create' enctype='multipart/form-data'>
			<p> <%= error %> </p>
			<h4>Title</h4> <br/> <input type='text' name='title'/> <br/> <br/>
			<h5>Description</h5> <br/> <textarea name='description'></textarea> <br/> <br/>
			<h5>Background Image</h5> <br/> <input type='file' name='room_background'/> <br/> <br/>
			<h5>Board color</h5> <br/> <input type='color' value='#ffffff' name='boardcolor'/> <br/> <br/>
			<h5>Title color</h5> <br/> <input type='color' value='#000000' name='titlecolor'/> <br/> <br/>
			<h5>Message color</h5> <br/> <input type='color' value='#3f3f3f' name='messagecolor'/> <br/> <br/>
			<h5>Message text color</h5> <br/> <input type='color' value='#ffffff' name='messagetextcolor'/> <br/> <br/>
			<h5>Moderaters</h5> <br/> <select class='tag_holder' type="text" name='moderators' value="" data-role="tagsinput" multiple></select> <br/> <br/>
			<% if (loggedin) { %>
			<div>
				<h5>Type</h5> <br/>
				<select name='status' id='type'>
					<option value='public'>Public</option>
					<option value='random'>Random</option>
					<option value='private'>Private</option>
				</select>
				<br/> <br/>
				<div id='roompass'>
					<h5>Room Password</h5>
					<input type='password' id='roompass' name='roompass'/>
				</div>
			<% } else { %>
				<p>Public</p>
				<br/> <br/>
				<h5>Please <a href='login'>login</a> or <a href='/register'>sign up</a> to create a random or invite only chatroom.
			<% } %>

			<br/> <br/> <br/> 

			<button type='submit' id='submit' class='btn btn-default' value='submit'>Submit</button>
		</form>
	</div>

</body>
</html>