<!DOCTYPE html>
<html>
<head>
	<title>The Chat Room | <%= room.title %></title>
	<meta charset='UTF-8'/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://bootstrap-tagsinput.github.io/bootstrap-tagsinput/dist/bootstrap-tagsinput.css">
	<script src="http://bootstrap-tagsinput.github.io/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
	<link rel='stylesheet' href='/css/main.css'/>
</head>
<body>
	<nav class='navbar navbar-inverse'>
		<div class='container-fluid'>

			<div class='navbar-header'>
				<button type='button' class='navbar-toggle' data-toggle='collapse' data-target='#navigation'>
					<span class='icon-bar'></span>
					<span class='icon-bar'></span>
					<span class='icon-bar'></span>
				</button>
				<a class='navbar-brand'>The Chat Room</a>
			</div>

			<div class='collapse navbar-collapse' id='navigation'>
				<ul class='nav navbar-nav'>
					<li><a href='/random'>Random</a></li>
					<li><a href='/create'>Create</a></li>
					<li><a>Find</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
				</ul>
			</div>

		</div>
	</nav>

	<div id='navbar_fix'></div>

	<br/>
	<br/>

	<div align='center'>
		<h3>Enter password for <%= room.title %></h3> <br/> <br/>
		<p id='error'><%= error %></p>
		<form method='post' action='/privatepass/<%= room.title %>'>
			<input type='password' name='roompassword'/> <br/> <br/>
			<button value='submit' class='btn btn-default'>Submit</button>
		</form>
	</div>

</body>
</html>